<div class="w-100 mx-auto">
  <div class="container-forgot">
    <div class="wrap-forgot">
      <div class="content-forgot">
        <div class="forgot-password">Quên Mật Khẩu</div>
        <div class="forgot-email">Nhập email của bạn</div>
        <form id="form-forgot" class="mt-4">
          <div class="wrap-input validate-input" data-validate="Email required">
            <input
              class="form-control input"
              type="text"
              placeholder="Nhập email"
            />
            <span class="symbol-input">
              <i class="fa-solid fa-envelope" aria-hidden="true"></i>
            </span>
          </div>
          <button class="btn btn-forgot mt-2" type="submit">
            <i class="fa-solid fa-angle-right"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
