<div class="container d-flex justify-content-center">
    <div class="content p-5 m-3 bg-light border border-secondary rounded">
        <form method="post" action="">
            <div class="form-group my-2">
                <label>Card number:</label>
                <input type="text" class="form-control" id="card_number" placeholder="xxxxxx" name="card_number">
            </div>
            <div class="form-group my-2">
                <label>Expriry date:</label>
                <input type="date" class="form-control" id="expiry_date" placeholder="Enter the expiry date" name="expiry_date">
            </div>
            <div class="form-group my-2">
                <label>Money:</label>
                <input type="number" class="form-control" id="recharge_money" placeholder="" name="recharge_money">
            </div>
            <div class="form-group my-2">
                <label>CVV code:</label>
                <input type="text" class="form-control" id="cvv" placeholder="xxx" name="cvv">
            </div>
            <button id="submit" class="btn btn-primary" type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
